<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{{ base_path() }}/../src/styles/bootstrap/bootstrap.min.css">

    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    {{ include('menu.html')}}

    <div class="container">
      {% block body %}{% endblock %}
    </div>

    {% block scripts %}
      <script src="{{ base_path() }}/../src/scripts/jquery-3.6.0.min.js" charset="utf-8"></script>
      <script src="{{ base_path() }}/../src/scripts/bootstrap/bootstrap.min.js" charset="utf-8"></script>
    {% endblock %}
  </body>
</html>
